<!doctype html> <!--tells the browser which version of hmtl in this case html5-->
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8" />

        <style>
            h1{
                color:green;
                border-style :solid;
                padding-left:50px;
            }
            h2{
              color:red;
            }
            ul{
              color:red;
            }

        </style>
    </head>


    <body>
        <h1>Edit an article</h1>
            <%= render 'form' %>   
         <%=button_to "cancel and Return to articles", articles_path, method: :get%>

    </body>





</html>
