<!doctype html> <!--tells the browser which version of hmtl in this case html5-->
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8" />

        <style>
            h1{
                color:blue;
                border-style :solid;
                padding-left:150px;
            }
            h2{
              color:red;
            }
            ul{
              color:red;
            }

        </style>
    </head>


    <body>
        <h1>Create a new article</h1>
            <%= render 'form' %>
         <%=button_to "Return to articles", articles_path, method: :get%>

    </body>





</html>
