<style>
h1{
    color:blue;
    border:2px solid green
}
</style>
<h1>Showing article details</h1>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong> <%= @article.description%></p>