<!doctype html> <!--tells the browser which version of hmtl in this case html5-->
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8" />

        <style>
            h2{
                color:red;
            }
        </style>
    </head>


    <body>
       <h2>About page</h2>
       <%=button_to "Articles Listing Page", articles_path, method: :get%>
       <%=button_to "Home page", root_path, method: :get%>     
    </body>





</html>








